@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #171a1f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  color: #BDC1CA;
}

/* Input Styles */
.input {
  @apply w-full p-3 text-[#171717] border-2 border-[#e0e3e9] rounded-md 
  focus:outline-none focus:border-blue-500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Button Styles */
.btn {
  @apply h-[46px] px-4 text-white rounded-md transition duration-200 cursor-pointer
  whitespace-nowrap;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}

.btn-primary--outlined {
  @apply bg-transparent border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white;
}

/* Heading Styles */
h1, h2, h3 {
  @apply text-black;
}

.section-heading {
  @apply text-2xl font-semibold mb-4 text-center;
}

/* Paragraph Styles */
.p-sm {
  @apply text-center text-sm text-[#565D6D];
}

a {
  @apply cursor-pointer;
}

/* Error Styles */
.error {
  @apply mb-4 text-sm text-red-500;
}

/* Form Styles */
.form-group {
  @apply mb-4;
}

/* Common Styles */
.auth-container {
  @apply min-h-screen flex items-center justify-center bg-gray-100;
}

.auth-wrapper {
  @apply bg-white p-6 border border-[#d8d4d4] rounded-lg w-full max-w-md;
}

.input-filter {
  @apply h-full;
}